@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<div id="mainContent">
    <h2 class="text-center">@ViewBag.Title.</h2>
  
    <p class="text-danger">
        For DEMO purposes only! You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
    </p>
</div>
