@{
    ViewBag.Title = "About";
}
<section class="contact_area section_gap_bottom">
    <div class="container" id="wr">
        <!--<div id="mapBox" class="mapBox" data-lat="40.701083" data-lon="-74.1522848" data-zoom="13" data-info="PO Box CT16122 Collins Street West, Victoria 8007, Australia."
         data-mlat="40.701083" data-mlon="-74.1522848">
        </div>-->
        <div id="accordion">
            <h3>Refund and Return Policies</h3>
            <div>
                <p>If you are not satisfied with your purchase, you may return it for a refund. We will issue a refund to your original form of payment for items returned within 14 days.</p>
            </div>
            <h3>Who can I contact if I am having problems with my account?</h3>
            <div>
                <p>Please visit our <a href="contact.html">contact</a> page for contact information or to send us an email.</p>
            </div>
            <h3>Where are the Centriq cStore headquarters?</h3>
            <div>
                <p>Our headquarters is located at 1740 West 92nd Street, Kansas City, MO</p>
            </div>
            <h3>What types of books do you offer?</h3>
            <div>
                <p>We offer the following kinds of books:</p>
                <ul>
                    <li>Hardcover</li>
                    <li>Softcover</li>
                    <li>eBooks</li>
                    <li>Imaginary</li>
                </ul>
            </div>
        </div>
    </div>
</section>
